{{#unless hidden}}

<section id="{{name}}" class="group galleryWrap">
    <div class="group">
        {{!-- {{#each this}} --}}
        <h2 class="sectionName">{{name}}</h2></div>
        {{!-- {{/each}} --}}
    <div class="gallerySection group">
        <div class="grid-sizer"></div>
        {{#each images}}
        <a class="swipebox" href="{{ArchivedUri}}" data-caption="{{Caption}}" data-gallery="{{../name}}" title="{{Title}}">
        <img class="item" src="{{ArchivedUri}}">
    </a>
        {{/each}}
    </div>

    <h4 class="showMore" data-target="{{name}}"><span>Show more</span> <i class="fas fa-plus"></i><i class="fas fa-minus"></i></h4>
</section>

{{/unless}}